{% assign myString = "hello world" %}
{% assign myOtherString = ' some extra text ' %}
<p>{{ myString | upcase | append: myOtherString | downcase }}</p>

{% assign myStringWithWhiteSpace = "hello this has whitespace  " %}
<p>
  {{ myStringWithWhiteSpace | append: "!" }}</p>
<p>
  {{ myStringWithWhiteSpace | strip | append: "!" }}</p>

{% assign myHtmlText = "<p style='color: red'>Hello</p>" %}
{{ myHtmlText | strip_html }}

{% assign myLongString = "This is some very long text that will be trimmed" %}
<p>{{ myLongString }}</p>