{% assign products = collection.products %}
{% assign productTitles = products | map: "title" | reverse %}

{% for productTitle in productTitles %}
  <p>{{ productTitle }}</p>
{% endfor %}

<p>{{ productTitles | join: ' - ' }}</p>

<p>{{ productTitles.first }}</p>
<p>{{ productTitles.last }}</p>
<p>{{ productTitles.size }}</p>

{% if productTitles.size > 5 %}
  <p>test</p>
{% endif %}

{% for product in products %}
  <p>{{ product.title }} - {{ product.price | money }}</p>
{% endfor %}