{% assign myString = "hello world" %}
{% assign myOtherString = ' some extra text ' %}
<p>{{ myString | upcase | append: myOtherString | downcase }}</p>

{% assign myStringWithWhiteSpace = "hello this has whitespace  " %}
<p>
  {{ myStringWithWhiteSpace | append: "!" }}</p>
<p>
  {{ myStringWithWhiteSpace | strip | append: "!" }}</p>

{% assign myHtmlText = "<p style='color: red'>Hello some extra text</p>" %}
{{ myHtmlText | strip_html }}

{% assign myLongString = "This is some very long text that will be trimmed" %}
<p>{{ myLongString | truncatewords: 4 }}</p>

{{ myHtmlText | strip_html | truncate: 35 }}

{% assign myMultilineText = '
                        This is the first line
                        This is the second line
                        This is the third line
                        '
 | newline_to_br
%}
<br>
<p>{{ myMultilineText }}</p>

{% assign myText = "Hello some extra text some extra text" %}
<p>{{ myText | replace_last: 'text', 'string' }}</p>