{% assign products = collection.products %}
{% assign productTitles = products | map: "title" | reverse %}

{% for productTitle in productTitles %}
  <p>{{ productTitle }}</p>
{% endfor %}

<p>{{ productTitles | join: ' - ' }}</p>

<p>{{ productTitles.first }}</p>
<p>{{ productTitles.last }}</p>
<p>{{ productTitles.size }}</p>

{% if productTitles.size > 5 %}
  <p>test</p>
{% endif %}

{% assign priceSortedItems = products | sort: 'price' %}
{% for product in priceSortedItems %}
  <p>{{ product.title }} - {{ product.price | money }}</p>
{% endfor %}

{% assign allPrices = products | map: 'price' %}
{% for price in allPrices %}
  <p>{{ price | money }}</p>
{% endfor %}